#!/usr/bin/env bash

# Prints the number of files in the directory passed as first arg.
function nfiles(){
	# Check if the directory exists
	if [ ! -d "$PWD" ]; then
  		echo "Directory $PWD does not exist"
  		exit 1
	fi

	ls -F -1 | grep -v / | wc -l | awk '{$1=$1};1'
}
