#!/usr/bin/env bash

# Prints the number of files in the directory passed as first arg.
function nfiles(){
	# Check if the directory exists
	if [ ! -d "$PWD" ]; then
  		echo "Directory $PWD does not exist"
  		exit 1
	fi

	ls -F -1 $1 | grep -v / | wc -l | awk '{$1=$1};1'
}

# Converts img file to base64, inserts into HTML img and echos
# Use: img2b64HTML cat.png
function img2b64HTML(){
	echo "<img width=400 src=\"data:image/png;base64, $(cat $1 | base64)\">"
}
